#audioVisualizerDiv {
    height: 100%;
    width: 100%;

    #audioMenu {
        height: 500px;
        width: 50px;
        left: 230px;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        text-align: center;
        z-index: 1;

        div {
            padding-top: 5px;
        }
    }

    #canvas {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    #audio {
        top: 90%;
        left: 300px;
        position: fixed;
        width: 400px;
    }
}