#audioVisualizerDiv {
    height: 100%;
    width: 100%;
    overflow: hidden;

    #audioMenu {
        height: 500px;
        width: 50px;
        left: 230px;
        top: 50%;
        transform: translateY(-50%);
        position: fixed;
        text-align: center;
        z-index: 1;

        div {
            padding-top: 5px;
        }
    }

    #canvas {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    #audioTitle {
        width: 50px;
        position: fixed;
        left: 310px;

        display: inline-block;
        font-family: monospace;
        vertical-align: baseline;
        text-rendering: optimizeLegibility;
        white-space: pre;
        word-wrap: break-word;
        text-align: center;

        letter-spacing: -0.2em;
        line-height: 0.8em;

        transition-duration: 10s;
    }

    #audio {
        top: 90%;
        left: 300px;
        position: fixed;
        width: 400px;
    }
}