body {
    background-color: black;
    color: rgb(172, 36, 36);
    font-family: Ubuntu;

    overflow: hidden;
    margin: 0 auto;
}

// index interface

    // index panel

    #panelDiv {
        position: absolute;
        height: 100%;
        width: 80%;
        left: 400px;
        z-index: 1;
    }

// index console

#consoleDiv {
    padding: 50px;

    .ASCIIview {
        width: 100%;
        height: 70%;

        .ASCIIchars {
            display: inline-block;
            font-family: monospace;
            vertical-align: baseline;
            text-rendering: optimizeLegibility;
            white-space: pre;
            word-wrap: break-word;
            text-align: right;

            letter-spacing: -0.2em;
            line-height: 0.8em;
        }

        #Poland { 
            width: 300px;
        }
        #Russia {
            width: 600px;
        }
        #connect {
            width: 630px;
            overflow: hidden;
            text-align: left;
            position: absolute;
            margin-top: 290px;
            margin-left: -120px;
            transform: rotate(-14deg);
        }
    }

    input {
        background-color: rgba(0,0,0,0);
        color: rgb(172, 36, 36);
        font-family: Ubuntu;
        font-size: 16px;
        border: 0px;
        margin-left: 5px;
        margin-top: 10px;
    }
    input:focus{
        outline: none;
    }

    .uploadInput {
        width: 0px !important;
        height: 0px !important;
        padding-top: 70px;
        padding-left: 400px;
        margin-left: 0px;
        color: rgba(172,36,36,1);
        font-family: Ubuntu;
        border: dashed 2px rgba(172,36,36,1);
        overflow: hidden;
    }

    pre {
        margin: 0px;
        font-family: Ubuntu;
        font-size: 16px;
    }

    button {
        display: none;
    }
}