#songPanel {
    width: 100%;
    height: 100%;
    display: flex;

    .songPanelColumn {
        width: 50%;
        height: 100%;

        #songDetails {
            width: 95%;
            height: 85px;
            padding-right: 5%;
            padding-top: 50px;
            padding-bottom: 25px;
            
            #songCode {
                text-align: left;
                overflow: hidden;
            }

            #songThings {

                #songAddress {
                    text-align: right;
                    padding-top: 10px;
                    width: auto;
                    float: right;
                }

                #songTitle {
                    text-align: left;
                    padding-top: 10px;
                    width: auto;
                    float: left;
                }
            }
        }

        #songText {
            width: 95%;
            overflow: hidden;
            overflow-y: scroll;
            padding-right: 5%;
            margin-bottom: 50px;

            .textSection {
                width: 100%;
                height: auto;

                .generalText {
                    width: 100%;
                    font-size: 13px;
                    display: flex;

                    .textHighlights {
                        background-color: rgba(172,36,36,1);
                        color: black;
                        margin: 0;

                        cursor: pointer;
                    }
                }

                .rowDetails {
                    width: 90%;
                    max-width: 90%;
                    height: auto;
                    display: none;

                    white-space: normal;

                    padding-left: 5%;
                    padding-right: 5%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .rowDetailsOpen {
                    display: block;
                }
            }
        }

        #songComments {
            width: 90%;
            height: auto;
            padding: 5%;
        }

        #albumSongs {
            width: 90%;
            height: auto;
            padding: 5%;
        }
    }
}